/*---------- FONTS ----------*/
@font-face {
    font-family: Lora;
    src: url(../fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/static/Montserrat-Light.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    font-family: Quicksand;
    font-weight: 300;

    background-color: black;
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;

    overflow-y: hidden;
}

.loadingScreen {
    z-index: 20;
    position: fixed;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.6);

    opacity: 1;
    transition: 2s all ease;
}

.loadingScreenHide {
    opacity: 0;
}

.loadingScreenOff {
    display: none;
}

.loader {
    border: 10px solid white;
    border-top: 10px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.heading {
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    width: auto;
    display: inline;
    font-family: Quicksand;
    font-weight: 500;
}

h1, h2 {
    margin-bottom: 40px;
    padding-bottom: 2px;

    border-bottom: 2px solid transparent;
    transition: 0.3s all ease-in-out;

    text-transform: uppercase;
}

h3, h4 {
    margin-bottom: 0px;
    padding-bottom: 2px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18.72px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 13.28px;
    }

    h5 {
        font-size: 10.72 px;
    }
}

p {
    text-align: justify;
    text-transform: lowercase;
    hyphens: auto;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 14px;
    }
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid white;
}

a:hover {
    color: orangered;
    border-bottom: 1px solid orangered;
}

button {
    width: fit-content;

    padding: 10px;

    border-radius: 10px;

    font-family: Quicksand;
    font-size: 16px;

    background-color: transparent;
    border: 2px solid;
    transition: 0.5s all ease;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    button {
        padding: 6px;
        border-radius: 6px;
        font-size: 14px;
    }
}

#Sidebar {
    position: fixed;
    /* top: 50%; */
    right: 0;
    bottom: 100px; 
    /* transform: translate(0%, -50%); */

    padding-right: 20px;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    font-size: 12px;

    z-index: 10;
    transition: 1s all ease;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    #Sidebar {
        padding-right: 8px;
    }
}

.bar {
    height: 20px;
    min-width: 20px;
    width: fit-content;

    margin-top: 4px;
    margin-bottom: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 10px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s all ease;
}

.bar:hover {
    cursor: pointer;
}

#bar1 {
    color: white;
    border-color: white;
}

#bar1:hover {
    color: black;
    background-color: white;
}

#bar2 {
    color: #93DB7E;
    border-color: #93DB7E;
}

#bar2:hover {
    color: white;
    background-color: rgba(147, 219, 126, 1);
}

#bar3 {
    color: #D19342;
    border-color: #D19342;
}

#bar3:hover {
    color: white;
    background-color: #D19342;
}

#bar4 {
    color: #20A4F3;
    border-color: #20A4F3;
}

#bar4:hover {
    color: white;
    background-color: #20A4F3;
}

#bar5 {
    color: orangered;
    border-color: orangered;
}

#bar5:hover {
    color: white;
    background-color: orangered;
}

/*-- CONTENT DIVs --*/
.contentDiv {
    min-height: 100vh;
    min-height: -webkit-fill-available;

    padding-left: 15%;
    padding-right: 15%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;
}

@media screen and (max-width: 768px) {
    .contentDiv {
        padding-right: 25%;
    }
}

.container:hover h1,
.container:hover h2 {
    border-bottom: 2px solid white;
}

.container {
    max-width: 1920px;

    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;

    border-radius: 40px;
    /* border: 1px solid white; */
}

.contentDivText {
    min-width: 320px;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-shrink: 2;
}

.contentDivImg {
    min-width: 250px;
    max-width: 600px;

    display: flex;
    align-items: center;
    flex-shrink: 2;
}

.contentDivImg img {
    max-width: 100%;
    max-height: 100%;

    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.bottomDiv {
    padding-bottom: 50px;
}

/*-- IDs --*/
#Intro {
}

#Intro button {
    color: white;
}

#Intro button:hover {
    background-color: white;
    color: black;
}

#Diploma {
    background-color: white;
    color: #747572;
}

#Diploma .container:hover h1,
#Diploma .container:hover h2 {
    border-bottom: 2px solid #747572;
}

#Diploma a {
    border-bottom: 1px solid #747572;
}

#Diploma a:hover {
    border-bottom: 1px solid orangered;
}

#Diploma button {
    color: #747572;
    border-color: #93DB7E;
}

#Diploma button:hover {
    color: white;
    background-color: #93DB7E;
}

#Diploma .contentDivImg {
    position: relative;
    min-height: 390px;
    min-width: 400px;
}

@media screen and (max-width: 768px) {
    #Diploma .contentDivImg {
        min-width: 300px;
        min-height: 295px;
    }
}

#Diploma .contentDivImg .imgA {
    position: absolute;
    width: 80%;
    bottom: 0;
    right: 0;
}

#Diploma .contentDivImg .imgB {
    position: absolute;
    width: 80%;
    top: 0;
    left: 0;
}

#Event {
}

#Event button {
    color: white;
    border-color: #D19342;
}

#Event button:hover {
    background-color: #D19342;
    color: white;
}

#WebDev {
    background-color: #747572;
    color: white;
}

#WebDev button {
    border-color: #20A4F3;
    color: white;
}

#WebDev button:hover {
    color: white;
    background-color: #20A4F3;
}

#Artist {
    background-color: orangered;
}

#Artist button {
    color: white;
}

#Artist button:hover {
    color: orangered;
    background-color: white;
}

#Footer {
    min-height: 0;
    background-color: black;
    font-size: 14px;
}

#Imprint p {
    text-transform: none;
}

#Imprint button {
    color: white;
}

#Imprint button:hover {
    background-color: white;
    color: black;
}

/*-- ANIMATION STUFF --*/
.fadeShort {
    position: relative;
    transform: scale(0.1);
    opacity: 0;
    transition: 1s all ease;
}

.fadeShort.active {
    transform: scale(1);
    opacity: 1;
}

.fadeIntro {
    position: relative;
    transform: scale(0.1);
    opacity: 0;
    transition: 2s all ease;
}

.fadeIntro.active {
    transform: scale(1);
    opacity: 1;
}

.fadeRight {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 2s all ease;
}

.fadeRight.active {
    transform: translateX(0);
    opacity: 1;
}

.fadeLeft {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 2s all ease;
}

.fadeLeft.active {
    transform: translateX(0);
    opacity: 1;
}