/*---------- FONTS ----------*/
@font-face {
    font-family: Lora;
    src: url(../fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/static/Montserrat-Light.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    font-family: Quicksand;
    font-weight: 300;

    background-color: black;
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    width: auto;
    display: inline;
    font-family: Quicksand;
    font-weight: 500;
}

h1, h2 {
    margin-bottom: 40px;
    padding-bottom: 2px;

    border-bottom: 2px solid transparent;
    transition: 0.3s all ease-in-out;

    text-transform: uppercase;
}

h3, h4 {
    margin-bottom: 0px;
    padding-bottom: 2px;
}

.heading {
    margin-bottom: 20px;
}

h1 {
    text-transform: uppercase;
}

p {
    text-align: justify;
    text-transform: lowercase;
    hyphens: auto;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 14px;
    }
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid white;
}

a:hover {
    color: orangered;
    border-bottom: 1px solid orangered;
}

button {
    width: fit-content;

    padding: 10px;

    border-radius: 10px;

    font-family: Quicksand;
    font-size: 16px;

    background-color: transparent;
    border: 2px solid;
    transition: 0.5s all ease;
}

@media screen and (max-width: 768px) {
    button {
        border-radius: 8px;
        font-size: 14px;
    }
}

#Sidebar {
    position: fixed;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.bar {
    height: 40px;
    width: 6px;

    border-radius: 2px;

    margin-top: 8px;
    margin-bottom: 8px;

    background-color: green;
}

/*-- CONTENT DIVs --*/
.contentDiv {
    min-height: 100vh;
    min-height: -webkit-fill-available;

    padding-top: 3vh;
    padding-bottom: 3vh;

    padding-left: 15%;
    padding-right: 15%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;
}

.container:hover h1,
.container:hover h2 {
    border-bottom: 2px solid white;
}

.container {
    max-width: 1920px;

    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;

    border-radius: 40px;
    /* border: 1px solid white; */
}

.contentDivText {
    min-width: 320px;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-shrink: 2;
}

.contentDivImg {
    min-width: 250px;
    max-width: 600px;

    display: flex;
    align-items: center;
    flex-shrink: 2;
}

.contentDivImg img {
    max-width: 100%;
    max-height: 100%;

    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.bottomDiv {
    padding-bottom: 50px;
}

/*-- IDs --*/
#Intro {
}

#Intro button {
    color: white;
}

#Intro button:hover {
    background-color: white;
    color: black;
}

#Diploma {
    background-color: white;
    color: #747572;
}

#Diploma .container:hover h1,
#Diploma .container:hover h2 {
    border-bottom: 2px solid #747572;
}

#Diploma a {
    border-bottom: 1px solid #747572;
}

#Diploma a:hover {
    border-bottom: 1px solid orangered;
}

#Diploma button {
    color: #747572;
    border-color: #93DB7E;
}

#Diploma button:hover {
    color: white;
    background-color: #93DB7E;
}

#Diploma .contentDivImg {
    position: relative;
    min-height: 390px;
    min-width: 400px;
}

@media screen and (max-width: 768px) {
    #Diploma .contentDivImg {
        min-width: 300px;
        min-height: 295px;
    }
}

#Diploma .contentDivImg .imgA {
    position: absolute;
    width: 80%;
    bottom: 0;
    right: 0;
}

#Diploma .contentDivImg .imgB {
    position: absolute;
    width: 80%;
    top: 0;
    left: 0;
}

#Event {
}

#Event button {
    color: white;
    border-color: #D19342;
}

#Event button:hover {
    background-color: #D19342;
    color: white;
}

#WebDev {
    background-color: #747572;
    color: white;
}

#WebDev button {
    border-color: #20A4F3;
    color: white;
}

#WebDev button:hover {
    color: white;
    background-color: #20A4F3;
}

#Artist {
    background-color: orangered;
}

#Artist button {
    color: white;
}

#Artist button:hover {
    color: orangered;
    background-color: white;
}

#Footer {
    min-height: 0;
    background-color: black;
    font-size: 14px;
}

/*-- ANIMATION STUFF --*/
.fadeShort {
    position: relative;
    transform: scale(0.1);
    opacity: 0;
    transition: 1s all ease;
}

.fadeShort.active {
    transform: scale(1);
    opacity: 1;
}

.fadeIntro {
    position: relative;
    transform: scale(0.1);
    opacity: 0;
    transition: 2s all ease;
}

.fadeIntro.active {
    transform: scale(1);
    opacity: 1;
}

.fadeRight {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 2s all ease;
}

.fadeRight.active {
    transform: translateX(0);
    opacity: 1;
}

.fadeLeft {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 2s all ease;
}

.fadeLeft.active {
    transform: translateX(0);
    opacity: 1;
}