@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

html {
    font-family: Quicksand;
    font-weight: 300px;
}

h1, h2, h3, h4, h5, h6 {
    width: auto;
    display: inline;
    font-family: Quicksand;
    font-weight: 500;
}